* {
	padding: 0;
	margin: 0;
	box-sizing: 0;
}

body {
	background-color: rgb(35, 35, 35);
	font-family: 'Montserrat',sans-serif;

}

p,h1,h2,h3, a, li {
	color: #fff;
}

a, p, li, h2, h1 {
	font-size: 15px;
}

h3 {
	font-size: 17px;
}

button {
	font-family: 'Montserrat',sans-serif;
}

#first {
	display: flex;
	align-items: flex-start;
}

header > input {
	width: 65%;
	height: 16px;
	background-color: #ffffff;
	color: #fff;
	border: 1px solid hsla(0,0%,56%,0);
	outline: none;
	padding: 12px 24px;
	border-radius: 7px;
	font-size: 14px;
}

header > button {
	background: #6666ff;
	color: #fff;
	padding: 11px 24px;
	font-size: 13px;
	border:  none;
	border-radius: 8px;
	cursor: pointer;
}

.logo-link,
.logo-img {
	width: 70%;
}

.h-nav {
	font-size: 10px;
	opacity: 0.7;
	text-transform: uppercase;
}

.h-nav:nth-child(2) {
	margin-top: 10px;
}

ul{
	list-style-type: none;
}

header {
	width: 80%;
	display: flex;
	justify-content: space-between;
}

.support-project-btn {
	padding: 12px 37px;
	font-size: 13px;
	border-radius: 6px;
	border: none;
	background: #6666ff;
	color: #fff;
	cursor: pointer;
}

.wrap-of-news {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(360px, auto);
	grid-gap: 35px;
	margin-top: 30px;
}

.child-news {
	background-color: #fff;
	border-radius: 10px;
}
.image-news-one {
	height: 70%;
	width: 100%;
	background-color: #6666ff;
	border-radius: 10px 10px 0 0;
}

.description-news {
	padding: 12px 20 px;
}

.description-news > p {
	color: #000;
	font-size: 15px;
}

.description-news > li {
	color: #000;
	font-size: 13px;
}